<ul class="nav navbar-nav navbar-right">
  <% if logined? %>
    <li class="dropdown">
      <%= link_to user_path(current_user), class: "dropdown-toggle", data: { toggle: "dropdown" } do %>
        <%= avatar_image(current_user, 20) %>
        <%= current_user.name %>
        <b class="caret"></b>
      <% end %>
      <ul class="dropdown-menu">
        <li class="<%= 'active' if current_page?(user_path(current_user)) %>"><%= link_to "我的首页", user_path(current_user) %></li>
        <li class="<%= 'active' if current_page?(edit_account_path) %>"><%= link_to "个人设置", edit_account_path %></li>
        <li><%= link_to "退出", logout_path, data: { method: :delete } %></li>
      </ul>
    </li>
  <% else %>
    <% unless current_page?(signup_path) %>
    <li><%= link_to "注册", signup_path %></li>
    <% end %>
    <% unless current_page?(signin_path) %>
    <li><%= link_to "登录", signin_path %></li>
    <% end %>
  <% end %>
</ul>
